<% @categories.each do |category| %>
<hr>
  <h3>Lista de Categorias:</h3>
  <ul>
    <li><%= link_to category.name, category_path(category)  %></li>
  </ul>
<hr>
<% end %>

<h1>Nossos produtos</h1>

<ul>
  <%= render partial: "mini_book", collection: @books %>
</ul>
